#profileImage {
    width: 270px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}
.box_header {
    padding: 12px 20px;
    border-bottom: 1px solid #cccccc;
}
.select2-container .select2-selection--multiple {
    min-height: 38px !important;
    border-color: #bbc1c9 !important;
}
#coba {
    width: 100%;
}
.mt-unit {
    margin-top: 35px;
}