#profileImage {
    width: 270px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}
.box_header {
    padding: 12px 20px;
    border-bottom: 1px solid #cccccc;
}
.select2-container .select2-selection--multiple {
    min-height: 38px !important;
    border-color: #bbc1c9 !important;
}
#coba {
    width: 100%;
}
.mt-unit {
    margin-top: 35px;
}
.profile_info_iner {
    border: 1px solid #14256a;
}
.profile_info .profile_info_iner .profile_author_name {
    padding: 12px 12px !important;
}
.profile_info .profile_info_iner h5 {
    margin-bottom: 0 !important;
}
.profile_author_name p {
    font-size: 12px !important;
    border-bottom: 1px solid #e6e6e6;
}
.icon_menu i {
    margin: 0;
    padding: 7px;
    font-size: 18px !important;
}
.list_divider {
    margin: 25px 0px;
    border-bottom: 1px solid #e6e6e6;
    margin-right: 0 !important;
}
.sidebar .logo {
    margin: 30px 15px 25px 15px !important;
    padding-bottom: 0 !important;
}
.sidebar .logo h2 {
    margin-bottom: 0;
}
.sidebar .logo h2 font {
    background-color: #14256a;
    color: #fff;
    padding: 10px 15px 6px;
    font-weight: 700;
    font-size: 32px;
}
.sidebar .logo span {
    line-height: 42px;
}
.profile_picture {
    width: 160px !important;
    height: 160px !important;
}
.profileImageBlock{
    position: relative;
    cursor: pointer;
}
.profileImageBlock span {
    position: absolute;
    top: 61px;
    left: 61px;
    font-size: 20px;
    background-color: #14256a;
    border-radius: 50%;
    color: #fff;
    padding: 10px;
}
.img-responsive {
    width: 100% !important;
}
.detail_heading h3 {
    margin-top: 13px;
    color: #000;
    font-weight: 800;
    margin-bottom: 0;
}
.detail_heading .row {
    margin-top: 13px;
    margin-bottom: -20 !important;
}
.detail_heading .row a {
    color: #000;
    font-weight: 900;
    font-size: 16px;
}
.m-t-0{
    margin-top: 0 !important;
}
.m-b-0{
    margin-bottom: 0 !important;
}
.m-b-25{
    margin-bottom: 25px !important;
}
.sl-item .sl-left img {
    width: 40px;
    float: left;
}
.tab-pane {
    min-height: 650px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #4c6ef8;
    border-color: transparent;
    border-bottom: 2px solid #4c6ef8;
    font-weight: bolder;
}
.nav-link {
    color: #000;
}
.img-circle{
    border-radius: 50%;
    overflow: hidden;
}
.wishlist_title p {
    padding-left: 45px;
    margin-top: -30px;
}
.btn-dashboard-switch {
    margin: 5px 30px;
}
.half_form {
    width: 49%;
}
.balance_tray {
    padding: 0px 20px;
    font-weight: bolder;
    color: #14256a;
}
.withdraw_request_btn {
    margin: 0 !important;
    font-size: 12px !important;
    width: 100% !important;
    grid-template-columns: none !important;
    padding: 0 30px !important;
    font-weight: 700 !important;
    color: #4c6ef8 !important;
    display: block !important;
}
.btn-primary span {
    color: #fff;
}
.btn-info span {
    color: #fff;
}

#image-preview {
  width: 100%;
  height: 355px;
  position: relative;
  overflow: hidden;
  background-color: #e6e6e6;
  color: #ecf0f1;
}
#image-preview input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}