.user-dropdown a {
    background: none !important;
    padding: 0px;
    border: none;
    outline: none;
    color: black;
    padding: 3px 0px;
}
.radiobuttons input[type=radio] {
    width: 18px;
}
.radiobuttons label {
    margin-right: 25px;
    color: #898787;
}
.radiobuttons{
  vertical-align: middle;
}
.form-field1 select {
    width: 100%;
    height: 45px;
    border: 1px solid #c3c3c3;
    color: black;
    padding: 0px 10px;
    letter-spacing: 0.5px;
    font-family: 'helvetica-bold';
}
.custom-btn1 {
    background: #15345a;
    color: white;
    border: none;
    letter-spacing: 0.8px;
    display: inline-block !important;
    width: auto;
    height: auto;
    padding: 8px 40px !important;
    min-width: 145px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'helvetica-bold';
}
.custom-btn1:hover {
    background: #000;
}
.m-t-0{
    margin-top: 0;
}
.m-b-0{
    margin-bottom: 0;
}
.feature-box1 {
    cursor: auto !important;
}
.feature-box1 a {
    cursor: pointer !important;
}
.all-filters .container .btn-group > a {
    font-family: 'helvetica-bold';
    font-size: 16px;
    letter-spacing: 0.6px;
    padding: 0px 29px;
}


/* Pagination */
.breadcrumbs-custom ul li a.disabled {
    color: #cecece;
    border: 1px solid #cecece;
}
.breadcrumbs-custom ul li a {
    border: 1px solid #15345a;
    padding: 1px 20px;
    border-radius: 2px;
    color: #15345a;
}
.breadcrumbs-custom ul li a.active {
    background-color: #15345a;
    color: #fff;
    border-color: #15345a;
}
.breadcrumbs-custom ul li a:hover {
    background-color: #15345a12;
}

.cart-table table tbody tr td img {
    width: 45px !important;
    height: 45px !important;
}
.order-summary {
    min-width: 100% !important;
    padding-left: 5%;
}
.cart-total2 table tbody tr td {
    font-family: 'helvetica';
}
.cart-total2 {
    min-width: 100%;
}
.alegraya {
    width: 100% !important;
}
.sec-head1 {
    margin-bottom: 15px !important;
}
.feature-title1 p {
    font-size: 14px !important;
}
.rel-1 img {
    width: 100%;
}
.apartment-features div span{
    width: 100% !important;
}
.zoom-area{
    max-width: 100% !important;
}
#user_error {
    float: right;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 12px;
}
.banner-video {
    overflow: hidden !important;
}