.user-dropdown a {
    background: none !important;
    padding: 0px;
    border: none;
    outline: none;
    color: black;
    padding: 3px 0px;
}
.radiobuttons input[type=radio] {
    width: 18px;
}
.radiobuttons label {
    margin-right: 25px;
    color: #898787;
}
.radiobuttons{
  vertical-align: middle;
}
.form-field1 select {
    width: 100%;
    height: 45px;
    border: 1px solid #c3c3c3;
    color: black;
    padding: 0px 10px;
    letter-spacing: 0.5px;
    font-family: 'helvetica-bold';
}
.custom-btn1 {
    background: #15345a;
    color: white;
    border: none;
    letter-spacing: 0.8px;
    display: inline-block !important;
    width: auto;
    height: auto;
    padding: 8px 40px !important;
    min-width: 145px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'helvetica-bold';
}
.custom-btn1:hover {
    background: #000;
}
.m-t-0{
    margin-top: 0;
}
.m-b-0{
    margin-bottom: 0;
}
.feature-box1 {
    cursor: auto !important;
}
.feature-box1 a {
    cursor: pointer !important;
}
.all-filters .container .btn-group > a {
    font-family: 'helvetica-bold';
    font-size: 16px;
    letter-spacing: 0.6px;
    padding: 0px 29px;
}


/* Pagination */
.breadcrumbs-custom ul li a.disabled {
    color: #cecece;
    border: 1px solid #cecece;
}
.breadcrumbs-custom ul li a {
    border: 1px solid #15345a;
    padding: 1px 20px;
    border-radius: 2px;
    color: #15345a;
}
.breadcrumbs-custom ul li a.active {
    background-color: #15345a;
    color: #fff;
    border-color: #15345a;
}
.breadcrumbs-custom ul li a:hover {
    background-color: #15345a12;
}

.cart-table table tbody tr td img {
    width: 45px !important;
    height: 45px !important;
}
.order-summary {
    min-width: 100% !important;
    padding-left: 5%;
}
.cart-total2 table tbody tr td {
    font-family: 'helvetica';
}
.cart-total2 {
    min-width: 100%;
}
.alegraya {
    width: 100% !important;
}
.sec-head1 {
    margin-bottom: 15px !important;
}
.feature-title1 p {
    font-size: 14px !important;
}
.rel-1 img {
    width: 100%;
}
.apartment-features div span{
    width: 100% !important;
}
.zoom-area{
    max-width: 100% !important;
}
#user_error {
    float: right;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 12px;
}
.banner-video {
    overflow: hidden !important;
}
.phoneField {
    position: relative;
}
.phoneField span {
    position: absolute;
    left: 1px;
    top: 36px;
    background-color: #e6e6e6;
    padding: 12px 9px;
    width: 60px;
    height: 43px;
}
.phoneField input {
    padding-left: 65px;
}


/* Languages */
.languages_list li {
    list-style: none;
}
.languages_list li a {
    padding: 10px 8px;
    color: #000;
    font-size: 18px;
    width: 100%;
}
.languages_list li a:hover {
    background-color: #b7b7b745;
}
.languages_list li a span {
    margin-left: 10px;
}
.cart_loader {
    text-align: center !important;
}
#cart_tray_checkout .disabled {
    background-color: #f6f6f6;
}
#cart_tray_checkout .noti {
    font-weight: normal;
    font-family: arial;
    font-size: 11px;
    margin-bottom: 0;
    color: red;
}
#unableShipping .dismiss_btn {
    float: right;
    color: #4c4c4c;
}
.card-input-element+.card {
  color: var(--primary);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 4px;
}

.card-input-element+.card:hover {
  cursor: pointer;
}

.card-input-element:checked+.card {
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
  background:#15345a !important;
  color:white !important;
}

.card-input-element:checked+.card::after {
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-box .card-body {
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 8px -3px black;
}
.address-box h4 {
    font-size: 25px;
}
.address-box p {
    font-size: 15px;
}
.btn-floating {
    background: white;
    padding: 5px 10px;
    border-radius: 30px;
    color: #15345a;
        font-size: 18px;
}
.controls-top
{
   position: absolute;
   top: 70px;
   z-index: 9999;
   box-shadow: 0px 0px 8px -3px black;
   border-radius: 30px;
}
.order-summary {

    margin-top: 0px;
}
.order-summary h3 {
    padding-bottom: 20px;
}
.sec-head1
{
   text-align: left;
   margin-bottom:0px !important;
}
footer {
    background: #f5f5f5;
    padding: 70px 0px !important;
}
.address-box {
    padding: 20px 15px;
    width: 100%;
}

.cut-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 33px;
}
@media screen and (max-width:519px) and (min-width:320px) { 
.controls-top {
    top: 60px;
}
}

#cart_tray .disabled {
    background-color: #f6f6f6;
}
#cart_tray .noti {
    font-size: 11px;
    color: red;
}