.user-dropdown a {
    background: none !important;
    padding: 0px;
    border: none;
    outline: none;
    color: black;
    padding: 3px 0px;
}
.radiobuttons input[type=radio] {
    width: 18px;
}
.radiobuttons label {
    margin-right: 25px;
    color: #898787;
}
.radiobuttons{
  vertical-align: middle;
}
.form-field1 select {
    width: 100%;
    height: 45px;
    border: 1px solid #c3c3c3;
    color: black;
    padding: 0px 10px;
    letter-spacing: 0.5px;
    font-family: 'helvetica-bold';
}